.header-alt__films {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header-alt__saved {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  background: none;
  border: none;
  margin: 0;
  padding: 0 0 0 16px;
  text-decoration: none;
}

.header-alt__profile {
  width: 100px;
  height: 32px;
  background: url("../../images/profile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .header-alt {
    display: none;
  }
  
}
