.movies-cardlist {
  width: 92%;
  margin: 0 auto;
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  min-height: 350px;
}

@media screen and (max-width: 1024px) {
  .movies-cardlist {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 35px;
  }
}

@media screen and (max-width: 500px) {
  .movies-cardlist {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
}
