.header-burg {
  display: none;
}

.header-burg__burger {
  background-image: url("../../images/burger-menu.svg");
	background-repeat: no-repeat;
	background-size: cover;
  width: 44px;
	height: 44px;
	cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .header-burg {
    display: flex;
  }
}
