.search-form {
  padding: 60px 0 10px 0;
  width: 92%;
  margin: 0 auto;
}

.search-form__form {
  width: 100%;
  background: #2f2f2f;
  border-radius: 40px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form__input {
  background: none;
  border: none;
  padding-left: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  width: 60%;
}

.search-form__input:focus {
  outline: none;
}

.search-form__button {
  width: 59px;
  background: #4285f4;
  border-radius: 48px;
  border: none;
  height: 34px;
  margin-right: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .search-form {
    padding-top: 80px;
  }
}
