.footer {
  color: #fff;
  width: 92%;
  margin: 0 auto;
}

.footer__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
}

.footer__underline {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #424242;
}

.footer__year {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.footer__links {
  display: flex;
  list-style-type: none;
}

.footer__link a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
	padding-left: 20px;
}
