.header {
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  margin: 0 auto;
}

.header__logo {
  background-image: url("../../images/header_logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 38px;
  height: 38px;
}

.header__register {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: none;
  color: #fff;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header__login {
  display: inline-block;
  width: 76px;
  margin: 0 0 0 30px;
  padding: 8px 0 8px 0;
  border: none;
  border-radius: 3px;
  background: #3ddc84;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  text-align: center;
}