.footer {
  color: #fff;
  width: 92%;
  margin: 0 auto;
  padding-top: 79px;
  padding-bottom: 20px;
}

.footer__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
  margin: 0;
  padding-bottom: 20px;
}

.footer__underline {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #424242;
  padding-top: 20px;
}

.footer__year {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  margin: 0;
  text-align: center;
}

.footer__links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__link {
}

.footer__link a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  margin-left: 20px;
}

@media screen and (max-width: 500px) {
  .footer {
    padding-bottom: 10px;
  }

  .footer__text {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
  }

  .footer__underline {
    flex-direction: column-reverse;
  }

  .footer__link a {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    padding-top: 12px;
  }

  .footer__link a:first-of-type {
    padding: 0;
  }

  .footer__year {
    padding-top: 30px;
  }
}
