.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #0000003a;
  width: 100%;
  min-height: 100%;
  display: none;
}

.burger-menu__opened {
  display: block;
}

.burger-menu__background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #202020;
  width: 520px;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.burger-menu__close {
  position: absolute;
  top: 22.44px;
  right: 22.44px;
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background: url("../../images/burger-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.burger-menu__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
	text-decoration: none;
	display: block;
	padding-top: 28px;
}

.burger-menu__link:first-of-type {
	padding-top: 159px;
}

.burger-menu__link_active {
	text-decoration: underline;
}

.burger-menu__profile-link {
	width: 100px;
	height: 32px;
	display: block;
	margin: 0 auto;
  padding-bottom: 46px;
	/* padding-top: 621px; */
}

@media screen and (max-width: 500px) {
  .burger-menu__background {
    width: 100%;
  }
}